

// .nav-grid {
//   @extend %base-grid;
//   &-left {
//     display: grid;
//     grid-template-columns: 40px 20px 40px;
//     .center-nav--divider {
//       margin: auto;
//     }
//   }
//   &-center {
//     grid-column: 2 / 3;
//     margin: 0 auto;
//   }
//   &-right {
//     grid-column: 3 / 3;
//     display: grid;
//     grid-template-columns: 40px 20px 40px;
//     .center-nav--divider {
//       margin: auto;
//     }
//   }
// }
// .nav-grid-secondary {
//   @extend %base-grid;
//   grid-template-columns: 1fr;
//   .secondary-nav--links {
//     display: flex;
//     margin: auto;
//   }
// }
@media (max-width: 900px) {
  .nav-grid {
    %mobile-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    @extend %mobile-grid;
    &-left {
      .center-nav--divider {
        margin: auto;
      }
    }
    &-center {
      margin: 0 auto;
    }
    &-right {
      .center-nav--divider {
        margin: auto;
      }
    }
  }
}
