@import "../node_modules/patternfly/dist/sass/patternfly/_color-variables.scss";

@import "fonts";
@import "nav";
@import "grid";
@import "typography";
@import "overrides";

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  overflow-x: hidden;
}
.background-cover {
  background: url('../images/osio.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 80px;
}
.background-cover-space {
  background: url('../images/osio_space.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 80px;
}
@media (max-width: 900px) {
  .background-cover {
    background: url('../images/osio_home_mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80px;
  }

  .background-cover-space {
    background: url('../images/osio_space_mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80px;
  }
}
.dropdown-menu,
.btn {
  font-size: $font-size-base !important;
}

a,
.btn-link {
  &:hover {
    text-decoration: none;
  }
}

.input-group-addon_empty {
  background-color: transparent;
  border-color: transparent;
}

.animate {
  transition: all .3s ease;
}

.dashboard {
  img {
    width: 100%;
  }
}
