@import "../node_modules/patternfly/dist/sass/patternfly/_color-variables.scss";

@import "fonts";
@import "nav";
@import "grid";
@import "typography";
@import "overrides";

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  overflow-x: hidden;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.knockout-top-to-bottom {
  &:before,
  &:after {
    content: "";
    position: absolute;
    height: 25px;
  }
  &:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#393f44), to(transparent));
    background-image: -webkit-linear-gradient(#393f44, transparent);
    background-image: -moz-linear-gradient(#393f44, transparent);
    background-image: -o-linear-gradient(#393f44, transparent);
    z-index: -2;
  }
  &:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
.background-cover {
  background: url('../images/HomeDashboard.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 38px;
}
.background-cover-space {
  background: url('../images/SpaceDashboard.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 38px;
}
.background-cover-user-settings {
  background: url('../images/UserSettings.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40px;
}
.background-cover-space-settings {
  background: url('../images/SpaceSettings.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 5px;
}
.background-cover-plan {
  background: url('../images/Planner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 3px;
}
.background-cover-create {
  background: url('../images/Create.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 6px;
}
.background-cover-all-spaces {
  background: url('../images/ViewAllSpaces.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 40px;
}
@media (max-width: 900px) {
  .background-cover {
    background: url('../images/osio_home_mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80px;
  }

  .background-cover-space {
    background: url('../images/osio_space_mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80px;
  }
}

// .animate {
//   transition: all .3s ease;
// }

// .dashboard {
//   img {
//     width: 100%;
//   }
// }
